modules = ["nodejs-18", "web"]
run = "npm run serve"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run serve"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 42150220
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"
