
@use 'components/shared/styles/mixins' as *;

.smart-trading-display {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--general-main-1);

    &--run-panel-open {
        height: calc(100vh - 120px);
    }
}
